Options +FollowSymlinks
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^(?:.*)?/([^/]+)/?  [NC]
RewriteRule .*      /Assaloni/?q=%1                     [L]
AuthType Basic
AuthUserFile /home/moritzzc/public_html/moritzz.com/Assaloni/.htpasswd
AuthName "Dr. Assaloni"
Require valid-user
